/* Example google fonts */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,300);
$font-family-base: 'Raleway', sans-serif;
/* Import bootstrap and fontawesome */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.widget_search {
	display: inline-block;
	@extend .pull-right;
}

//navbar search
#searchform[role="search"] {
	@extend .navbar-form;
	div {
		@extend .form-inline;
		label {
			display: none;
		}
		input[type="text"] {
			@extend .form-control;
		}
		input[type="submit"] {
			@extend .btn;
			@extend .btn-default;
		}
	}
}

// conteiner section y aside
#my-content {
	@extend .container;
	table {
		@extend .table;
		@extend .table-hover;
		@extend .table-striped;
		thead, tfoot {
			tr {
				@extend .info;
			}
		}
	}
	section {
		@extend .col-sm-9;
		article{
			@extend .jumbotron;
			padding: 10px;
			margin-bottom:15px;
			border:1px solid #cccccc;
			div {
				@extend .container;
				header{
					h3 {
						@extend .col-sm-12;
						a {
							@extend .text-info;
							text-decoration: none;
						}
					}
					ol{
						/*border:1px solid #cccccc;
						background-color:#f5faff;*/
						background-color:#eeeeee;
					}
				}
				p {
					@extend .col-sm-12;
				}
				footer {
					.post-categories {
						@extend .nav;
						@extend .nav-pills;
						li[role="presentation"] {
							a{
								//text-decoration: none;
							}
						}
					}
				}
			}
		}
	}
	aside {
	@extend .col-sm-3;
		ul{
			@extend .list-group;
			li{
				@extend .list-group-item;
				display: block;
				text-align: center;
				a{
					text-decoration: none;
					display: inherit;
				}
			}
		}
	}			
}

// Footer
footer {
	@extend .col-sm-12;
}

/* 
	navbar 
	https://work.smarchal.com/twbscolor/3.3.6/scss/ecf0f192daeb045d730585a41
*/
$bgDefault      : #ecf0f1;
$bgHighlight    : #cedbde;
$colDefault     : #084250;
$colHighlight   : #045d73;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}